@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Medium.ttf");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Regular.ttf");
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Bold.ttf");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Black.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "CoFo Sans";
}

.main {
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  background: url(./bg.png),
    linear-gradient(121.38deg, #0a0d15 12.02%, #0c1737 94.29%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main--cardActive {
  background: linear-gradient(121.38deg, #0a0d15 12.02%, #0c1737 94.29%);
}

.main--cardActive .main-header {
  display: none;
}

.main--cardActive .main-subheader {
  display: none;
}

.logo {
  position: fixed;
  top: 27px;
  left: 100px;
  z-index: 5;
}

.header {
  position: fixed;
  top: 27px;
  right: 100px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.header-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.5;
  margin-right: 12px;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-left: 12px;
  padding: 10px 24px;
  transition: all 0.3s ease;
}

.header-link:hover {
  color: #007bfb;
  background-color: #ffffff;
}

.header-link--active {
  color: #007bfb;
  background-color: #ffffff;
  cursor: pointer;
  cursor: default;
}

.social {
  width: 53px;
  height: 53px;
  background: #d9d9d9;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 15px;
}

.main-header {
  font-weight: 500;
  font-size: 56.1166px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 13px;
}

.main-subheader {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b7b7b7;
  margin-bottom: 68px;
}

.main-subheader span {
  color: #2b66ff;
}

.main-section {
  width: 100%;
  height: 393px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card {
  width: calc(20% - 16px);
  height: 100%;

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 30px 25px 25px;
  transition: all 0.8s ease;
  cursor: pointer;
}

.card--1 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.97%,
      rgba(0, 0, 0, 0.4) 67.51%
    ),
    url(./card1Bg.png);
  background-size: cover;
  background-position: 40% 50%;
  margin-right: 10px;
}
.card--2 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.97%,
      rgba(0, 0, 0, 0.4) 67.51%
    ),
    url(./card2Bg.png);
  background-size: cover;
  background-position: 40% 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.card--3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.97%,
      rgba(0, 0, 0, 0.4) 67.51%
    ),
    url(./card3Bg.png);
  background-size: cover;
  background-position: 40% 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.card--4 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.97%,
      rgba(0, 0, 0, 0.4) 67.51%
    ),
    url(./card4Bg.png);
  background-size: cover;
  background-position: 40%font-weight 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.card--5 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.97%,
      rgba(0, 0, 0, 0.4) 67.51%
    ),
    url(./card5Bg.png);
  background-size: cover;
  background-position: 40% 50%;
  margin-left: 10px;
  margin-right: 0px;
}

.card-header {
  margin-bottom: auto;
  background: #2a66ff;
  opacity: 0.9;
  border-radius: 13.1574px;

  font-style: normal;
  font-weight: 600;
  font-size: 26.3147px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 10px 17px;
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  display: none;
}

.card-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.card-cat {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  display: none;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: #007bfb;
  margin-right: 4px;
}

.cart-header-add {
  font-weight: 400;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 8px;
}

.cart-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.card:hover {
  width: 100%;
}
.card:hover .card-cat {
  display: block;
  animation: fadeOut 1.2s ease;
}
.card:hover .card-content {
  display: flex;
  animation: fadeOut 1.2s ease;
}

.card-special-content {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0px 0px 60px rgba(42, 102, 255, 0.6);
  border-radius: 40px;
}

.card-active {
  position: absolute;
  top: 124px;
  left: 0;
  max-width: 100vw;
  width: 100vw;
  height: 100%;
  min-height: 529px;
  height: fit-content;
  background: none;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.card-active .special-bg {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  min-height: 529px;
  max-height: calc(100vh - 271px);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0px 0px;
  transition: all 0.8s ease;
}
.special-bg1 {
  background-image: url(./card1Bg.png);
  background-size: 12 0% !important;
}
.special-bg2 {
  background-image: url(./card2Bg.png);
}
.special-bg3 {
  background-image: url(./card3Bg.png);
}
.special-bg4 {
  background-image: url(./card4Bg.png);
}
.special-bg5 {
  background-image: url(./card5Bg.png);
}

.card-active .card-special-content {
  display: block;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 529px;
  max-height: calc(100vh - 271px);
  overflow-x: hidden;
}

.card-active .card-cat {
  display: none !important;
}
.card-active .card-content {
  display: none !important;
}

.card-panel-section {
  display: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 100px;
  margin-bottom: 56px;
}

.card-active .card-panel-section {
  display: flex;
}

.card-info-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-info-panel__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-info-panel__header {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 107%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 21px;
}

.card-info-panel__button {
  background: #007bfb;
  border-radius: 20px;
  padding: 13px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-decoration: none;
}

.card-info-panel__row {
  display: flex;
  align-items: center;
}

.card-info-panel__card {
  background: #ffffff1a;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px 20px;
  height: 91px;
  margin-left: 8px;
}

.card-special-header {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 5px;
}
.card-special-header--red {
  color: #ed584e;
}
.card-special-header--green {
  color: #5cc867;
}

.card-special-description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.note {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #282d3c;
  max-width: 441px;
}

.note::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #007bfb;
  border-radius: 23px;
  height: calc(100% - 40px);
  width: 5px;
}

.note1 {
  bottom: 40px;
  left: 40px;
}
.note2 {
  right: 40px;
  bottom: 40px;
}
.note3 {
  right: 40px;
  top: 40px;
}

.special-note {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.special-note__card {
  width: calc(50% - 26px);
  max-width: 634px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 24px;
  padding: 12px;
  padding-right: 42px;
}

.special-note__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
}

.special-note__header {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #007bfb;
  margin-bottom: 5px;
}

.special-note__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #282d3c;
}

.special-note__button {
  margin-top: 12px;
  background: #007bfb;
  border-radius: 20px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-decoration: none;
}

.special-note__card--blue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 26px);
  max-width: 634px;
  padding: 24px 12px 24px 32px;
  background: #007bfb;
  backdrop-filter: blur(2px);
  border-radius: 24px;
  max-height: 155px;
}

.special-note__card--blue-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.special-note__card--blue-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 4px;
}

.special-note__card--blue-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 12px;
}

.special-note__card--blue-panel {
  display: flex;
  align-items: center;
}

.special-note__card--blue__cat {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.005em;
  color: #ffffff;
  padding: 10px 24px;
  margin-right: 4px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.special-note__card--blue__img {
  width: 194px;
  height: 131px;
  border-radius: 16px;
}

.content-note {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0c142b;
}

.content-note span {
  font-weight: 600;
}

.content-button {
  background: #2a66ff;
  border-radius: 34px;
  padding: 10px 56px;

  font-style: normal;
  font-weight: 600;
  font-size: 21.3043px;
  line-height: 107%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-decoration: none;
}

.expanded {
  max-height: calc(100vh - 92px) !important;
}
.js--hidden {
  display: none !important;
}

.js--hidden-opacity {
  visibility: hidden;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes maxWidth {
  0% {
    width: calc(20%);
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 1441px) {
  .main {
    padding-left: calc(calc(100% - 1240px) / 2);
    padding-right: calc(calc(100% - 1240px) / 2);
  }

  .logo {
    left: calc(calc(100% - 1240px) / 2);
  }

  .header {
    right: calc(calc(100% - 1240px) / 2);
  }
  .card-panel-section {
    padding-left: calc(calc(100% - 1240px) / 2);
    padding-right: calc(calc(100% - 1240px) / 2);
  }
}
