* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  background: url(./bg.png),
    linear-gradient(121.38deg, #0a0d15 12.02%, #0c1737 94.29%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main--cardActive {
  background: linear-gradient(121.38deg, #0a0d15 12.02%, #0c1737 94.29%);
}

.main--cardActive .main-header {
  display: none;
}

.main--cardActive .main-subheader {
  display: none;
}

.logo {
  position: fixed;
  top: 27px;
  left: 100px;
  z-index: 5;
}

.header {
  position: fixed;
  top: 27px;
  right: 100px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.social {
  width: 53px;
  height: 53px;
  background: #d9d9d9;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 15px;
}

.main-header {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 56.1166px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 13px;
}

.main-subheader {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b7b7b7;
  margin-bottom: 68px;
}

.main-subheader span {
  color: #2b66ff;
}

.main-section {
  width: 100%;
  height: 393px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card {
  width: calc(20% - 16px);
  height: 100%;
  background-size: cover;
  background-position: 40% 50%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px 25px 25px;
  transition: all 0.8s ease;
  cursor: pointer;
}

.card--1 {
  background-image: url(./card1Bg.png);
  margin-right: 10px;
}
.card--2 {
  background-image: url(./card2Bg.png);
  margin-left: 10px;
  margin-right: 10px;
}
.card--3 {
  background-image: url(./card3Bg.png);
  margin-left: 10px;
  margin-right: 10px;
}
.card--4 {
  background-image: url(./card4Bg.png);
  margin-left: 10px;
  margin-right: 10px;
}
.card--5 {
  background-image: url(./card5Bg.png);
  margin-left: 10px;
  margin-right: 0px;
}

.card-header {
  margin-bottom: auto;
  background: #2a66ff;
  opacity: 0.9;
  border-radius: 13.1574px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 26.3147px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 10px 17px;
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  display: none;
}

.card-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.card-cat {
  background: #ffffff;
  border-radius: 20px;
  padding: 6px 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 86%;
  letter-spacing: -0.02em;
  color: #0a0e19;
  margin-right: 4px;
}

.cart-description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.card:hover {
  width: 100%;
}
.card:hover .card-header {
  display: block;
}
.card:hover .card-content {
  display: block;
}

.card-special-content {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-active {
  position: absolute;
  top: 124px;
  left: 0;
  max-width: 100vw;
  width: 100vw;
  height: 100%;
  min-height: 529px;
  height: fit-content;
  background: none;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.card-active .special-bg {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  min-height: 529px;
  max-height: calc(100vh - 271px);
  background-image: url(./card3Bg.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0px 0px;
  transition: all 0.8s ease;
}

.card-active .card-special-content {
  display: block;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 529px;
  max-height: calc(100vh - 271px);
  overflow-x: hidden;
}

.card-active .card-header {
  display: none !important;
}
.card-active .card-content {
  display: none !important;
}

.card-panel-section {
  display: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 100px;
  margin-bottom: 56px;
}

.card-active .card-panel-section {
  display: flex;
}

.card-info-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-info-panel__header {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 107%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.card-info-panel__row {
  display: flex;
  align-items: center;
}

.card-info-panel__card {
  background: #ffffff1a;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px 20px;
  height: 91px;
  margin-left: 8px;
}

.card-special-header {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 5px;
}

.card-special-description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.note {
  position: absolute;
  background: #0b101f;
  font-family: "Manrope";
  border-radius: 21px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  max-width: 453px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.note1 {
  bottom: 40px;
  left: 40px;
}
.note2 {
  right: 40px;
  top: 40px;
}
.note3 {
  right: 40px;
  bottom: 40px;
}

.special-note {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  backdrop-filter: blur(2px);
  border-radius: 21px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding: 32px 38px;
}

.content-note {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0c142b;
}

.content-note span {
  font-weight: 700;
}

.content-button {
  background: #2a66ff;
  border-radius: 34px;
  padding: 10px 56px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 21.3043px;
  line-height: 107%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-decoration: none;
}

.expanded {
  max-height: calc(100vh - 92px) !important;
}

.js--hidden {
  display: none !important;
}

@media screen and (min-width: 1441px) {
  .main {
    padding-left: calc(calc(100% - 1240px) / 2);
    padding-right: calc(calc(100% - 1240px) / 2);
  }

  .logo {
    left: calc(calc(100% - 1240px) / 2);
  }

  .header {
    right: calc(calc(100% - 1240px) / 2);
  }
  .card-panel-section {
    padding-left: calc(calc(100% - 1240px) / 2);
    padding-right: calc(calc(100% - 1240px) / 2);
  }
}
